$main-color: #55c57a;
$main-color--hover: #7dd56f;
$h3-color: #040e27;
$p-color: #7a838b;

$yellow: #f39c12;
$gray: #444444;
$black: #000000;
$white: #ffffff;
$white-2: #f7f7f7;
$white-green: #cae3d2;
$white-hover: #f0f0f1;
$gold: #fdae5c;
$red: #e74c3c;
$blue: #6568f4;
$blue-hover: #5457e9;
